#chalets{                               /*Styling for the chalet section*/
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 100px 0 100px 0;
    text-align: center; 
    background-color: #f5f3f4;
    /*border:5px solid #e5383b;*/
}
#pukeko, #chalets, #kereru{         /*Combined the chalets id and styled it*/
    margin-top: 100px;
}

.container{                             /*Styling for grids used throughout the website*/
    margin: 100px 60px 200px 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-right: 50px;
}

.chalet-container{                      /*Styling for the gridding to showcase the various chalets*/
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-right: 100px;
}