html{                               /*Setting the wesbite dimensions after adding the side navigation bar*/
    scroll-behavior: smooth;
    margin-left: 290px;
    font-family: 'Poppins';
}

body  {
    overflow-x: hidden;
}
footer{
    text-align: center;
    padding: 50px;
}

/*ID's for each section*/
#about{
    width: 1100px;
    background-color: white;
    margin-left: 60px;
}

/*The side navigation bar starts*/
.sidenav{
    height: 100%;
    width: 300px; /*How wide the side bar will be*/
    position: fixed;
    z-index: 1;
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #343a40;  /*Colour of the side bad*/
    overflow-x: hidden; /* Disable horizontal scroll */
    font-family: 'Poppins'; /*The font that will be used*/

}

/*Side bar navigation links*/
.sidenav a{
    padding: 20px 0 20px 10px;     /*Padding of each link*/
    text-decoration: none;          /*Removes the underline under each link*/
    font-size: 25px;                /*Size of the text*/
    color: white;               /*Colour of the text for the links*/
    display: block;    
    border-radius: 20px;
    margin-right: 40px;
}

.sidenav ul li{
    list-style: none;
}

/*When hovering on the buttons on the side navigation bar*/
ul a:hover{
    background-color: #50575e;
}

.active{
    background-color: #50575e;
    border-radius: 20px;
    margin-right: 40px;
}

.chalet-sidenav a{
    padding-left: 50px;
}

/*Side Navigation Bar ends*/

.round{
    border-radius: 5px;
    float: left;
    width:50px;
    border:5px solid #e5383b;
}

.round-middle{
    border-radius: 5px;
    width:100px;
    border:5px solid #e5383b;
}

.footer-text{
    text-align: center;
}