/*Dimensions for the Maunga Club Logo*/
.logo{
    width: 200px;
    padding: 30px 10px 0px 30px;
}

/*Styling for images*/
.chalet-img{
    width: 70%;
    border-radius: 20px;
}

.about-img{
    width: 100%;
    border-radius: 10px;
}