.signup{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    background-color: #f5f3f4;
    gap: 10px;
    border-radius: 5px;
    text-align: center;
}
.club-member{
    font-weight: normal;
}
.club-member ul li{
    list-style: none;
}