*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html{
    font-family: 'Poppins';
    font-size: 24px;
    margin-left: 300px;
    scroll-behavior: smooth;
}

section{
    height: 100vh;
    width: 100%;
    background-color: gray;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 200px;
    padding-right: 10px;
}

#home{
    background-color: crimson;
}
#kakapo{
    background-color: aquamarine;
}
#kereru{
    background-color: beige;
}

.sidenav ul li.active{
    background-color: white;
    border-radius: 20px;
    transition: 0.2s ease background-color;
}
.sidenav ul li.active a{
    color: black;
}

/*The side navigation bar*/
.container{
    height: 100%;
    width: 300px; /*How wide the side bar will be*/
    position: fixed;
    z-index: 1;
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #343a40;  /*Colour of the side bad*/
    overflow-x: hidden; /* Disable horizontal scroll */
    font-family: 'Poppins'; /*The font that will be used*/
    padding-top: 150px;
}

/*Side bar navigation links*/
.container a {
    padding: 20px 6px 20px 32px;     /*Padding of each link*/
    text-decoration: none;          /*Removes the underline under each link*/
    font-size: 25px;                /*Size of the text*/
    color: white;               /*Colour of the text for the links*/
    display: block;    
    border-radius: 20px;
}
