/*The side navigation bar*/
.sidenav{
    height: 100%;
    width: 300px; /*How wide the side bar will be*/
    position: fixed;
    z-index: 1;
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #343a40;  /*Colour of the side bad*/
    overflow-x: hidden; /* Disable horizontal scroll */
    font-family: 'Poppins'; /*The font that will be used*/
    padding-top: 200px;
}

/*Side bar navigation links*/
.sidenav a {
    padding: 20px 6px 6px 32px;     /*Padding of each link*/
    text-decoration: none;          /*Removes the underline under each link*/
    font-size: 25px;                /*Size of the text*/
    color: white;               /*Colour of the text for the links*/
    display: block;
}
.sidenav a:hover{
    background-color: #4f565c;
}

html{
    scroll-behavior: smooth;
}
/* Used for smaller screens */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.logo{
    width: 200px;
    padding-right: 10px;
}

.round{
    border-radius: 5px;
    float: left;
    width:50px;
    border:5px solid #e5383b;
}

.round-middle{
    border-radius: 5px;
    width:100px;
    border:5px solid #e5383b;
}

.big-title{
    font-size:50px;
    margin-left: 350px;
    font-family: 'Poppins';
}
.title{
    color: #e5383b;
    font-size: 40px;
    font-family: 'Poppins';
    text-align: left;
    margin: 0 0 0 0;
}
.subtitle{
    color: #e5383b;
    font-size: 30px;
    font-family: 'Poppins';
    margin: 0 0 0 0;
    padding-top: 50px;
}

p{
    padding-top: 10px;
    font-family: 'Poppins';
    text-align: justify;
    text-justify: inter-word;
}

.info{
    font-family: 'Poppins';
    text-align: justify;
    text-justify: inter-word;
}

.right-img{
    width: 30%;
    padding-left: 50px;
    float: right;
    margin-right: 0px;
}

.chalet-img{
    width: 50%;
}

#about{
    margin-left: 350px;
    width: 1100px;
}

#chalets{
    margin-left: 350px;
    width: 1100px;
    margin-top: 100px;  
    text-align: center; 
    /*border:5px solid #e5383b;*/
}

.bullets li{
    font-family: "Poppins";
    text-align: center;
    list-style-type: none;
}

ul{padding-bottom: 100px;}