html{                               /*Setting the wesbite dimensions after adding the side navigation bar*/
    scroll-behavior: smooth;
    margin: 0 0 0 350px;
}

/*ID's for each section*/
#about{
    width: 1100px;
}

#chalets{
    width: 1100px;
    margin-top: 100px;  
    text-align: center; 
    /*border:5px solid #e5383b;*/
}

/*The side navigation bar*/
.sidenav{
    height: 100%;
    width: 300px; /*How wide the side bar will be*/
    position: fixed;
    z-index: 1;
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #343a40;  /*Colour of the side bad*/
    overflow-x: hidden; /* Disable horizontal scroll */
    font-family: 'Poppins'; /*The font that will be used*/
    padding-top: 200px;
}

/*Side bar navigation links*/
.sidenav a {
    padding: 20px 6px 6px 32px;     /*Padding of each link*/
    text-decoration: none;          /*Removes the underline under each link*/
    font-size: 25px;                /*Size of the text*/
    color: white;               /*Colour of the text for the links*/
    display: block;
}

/*When hovering on the buttons on the side navigation bar*/
.sidenav a:hover{
    background-color: #4f565c;
}

/*Dimensions for the Maunga Club Logo*/
.logo{
    width: 200px;
    padding-right: 10px;
}

.round{
    border-radius: 5px;
    float: left;
    width:50px;
    border:5px solid #e5383b;
}

.round-middle{
    border-radius: 5px;
    width:100px;
    border:5px solid #e5383b;
}

/*Styling for the text*/
.big-title{                     /*Styling for my Maunga Club when you enter the page*/
    font-size:50px;
    font-family: 'Poppins';
}

.title{                         /*Styling for the title of each section*/
    color: #e5383b;
    font-size: 40px;
    font-family: 'Poppins';
    text-align: left;
    margin: 0 0 0 0;
}

.subtitle{                      /*Styling for the chalets*/
    color: #e5383b;
    font-size: 40px;
    font-family: 'Poppins';
    margin: 0 0 0 0;
    padding-top: 20px;
}

p{                              /*Styling for my paragraphs*/
    padding-top: 10px;
    font-family: 'Poppins';
    text-align: justify;
    text-justify: inter-word;
}

h3{                             /*Styling for text when informing users of the chalet features*/
    font-family: 'Poppins';
    text-align: center;
    font-size: 15px;
    font-weight: normal;
}

.info{                          /*Additional Styling for informing users about the chalet features*/
    font-family: 'Poppins';
    text-align: justify;
    text-justify: inter-word;
}

.right-img{                     /*Used for images that need to be set to the right side of the website*/
    width: 30%;
    padding-left: 50px;
    float: right;
    margin-right: 0px;
}